/*
!.config/
.config/*
!.config/alacritty/
!.config/foot/
!.config/gammastep/
!.config/gtk-3.0/
.config/gtk-3.0/bookmarks
!.config/gtk-4.0/
!.config/helix/
!.config/niri/
!.config/nvim/
!.config/river/
!.config/swayidle/
!.config/swaylock/
!.config/systemd/
.config/systemd/user/sockets.target.wants/
!.config/waybar/
!.config/wofi/
!.env
!.gitignore
!tools/
!.tmux.conf
!.zshrc
