/*
!.config/
.config/*
!.config/alacritty/
!.config/river/
!.config/waybar/
!.config/wofi/
!.config/foot/
!.config/gammastep/
!.config/nvim/
!.config/helix/
!.config/niri/
!.config/systemd/
.config/systemd/user/sockets.target.wants/
!.env
!tools/
!.gitignore
!.zshrc
!.tmux.conf
